#Notifications {
  border: 1px solid white;
  height: 790px;
  overflow-y: scroll;
}
#Notifications h1 {
  font-weight: 900;
  font-size: 1.5rem;
}
#notifs {
  width: fit-content;
  padding: 5px 2px;
}
#notifs div {
  padding: 10px 0 10px 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
