#CodeGroups {
  border: 1px solid rgb(151, 232, 169, 0.3);
  border-radius: 10px;
  height: 70%;
  margin-bottom: 20px;
  overflow-y: scroll;
}
.home-group-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.home-group-list-item {
  height: 100px;
  width: 200px;
}
