#Chatbot {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#chatbot-container {
  max-height: 800px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.message-container-1 {
  margin-bottom: 90px;
}
.message-container-2 {
  display: flex;
  flex-direction: column;
}
.question-message {
  margin-left: auto;
  background-color: inherit;
  border: 1px solid #97e8a9;
  color: #97e8a9;
  padding: 7px 20px;
  border-radius: 10px;
  margin-top: 10px;
}
.answer-message {
  background-color: #97e8a9;
  border: 1px solid #97e8a9;
  color: black;
  padding: 7px 20px;
  border-radius: 10px;
  margin: 20px 200px 10px 0;
  width: 90%;
}

.ai-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 20px; */
  position: absolute;
  bottom: 0;
  background-color: #2d3647;
  width: 110%;
  padding-left: -50px;
  padding-right: -50px;
}
.ai-input {
  min-width: 70%;
  margin: 20px 20px 10px 0;
  padding-top: 10px;
  padding-right: 10px;
}
.submit-ai-btn {
  background-color: #97e8a9;
  color: black;
  padding: 10px;
  border-radius: 10px;
  padding: 10px 20px;
}
