#WorkStation {
  position: relative;
}
.ai-btn {
  width: 100px;
  height: 100px;
  color: black;
  background-color: #97e8a9;
  position: absolute;
  top: 80%;
  left: 93%;
  box-shadow: inset -25px -25px 40px rgba(15, 10, 25, 0.4);
  display: flex;
  gap: -15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-family: "Poppins";
}
.ai-btn:hover {
  cursor: pointer;
}
