:root {
  font-family: "Inter", system-ui, "Avenir", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  /* background-color: #1c1c1c; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  transition: all 0.3s ease;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}
